body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vetical-left-side ul {
  padding: 0;
  margin-left: 10px;
}

.side-icons li {
  font-size: 1rem;
  padding: 6px;
  padding-left: 0px;
  color: #063b4e;
  list-style: none;
}

.side-icons li:hover {
  color: #00aff0;
  margin-top: 5px;
  transition: margin-top 0.5s;
}

.vetical-left-side {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
}

.vetical-right-side {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
}

.vetical-right-side a {
  writing-mode: vertical-rl;
  font-family: "Roboto Mono";
  font-size: 0.7em;
  margin: 0 3px 50px 10px;
  text-decoration: none;
  color: #063b4e;
}

.vetical-right-side a:hover {
  color: #00aff0;
  margin-top: 5px;
  cursor: pointer;
}

.line {
  width: 2px;
  height: 100px;
  background-color: #063b4e;
  margin: auto;
  /* position: absolute;
  bottom: 2px;
  left: 50%; */
}

#home-content .hi {
  font-family: "Roboto Mono", sans-serif;
  /* color: #008891; */
  font-size: 0.8em;
  margin: 0;
}


.header>div h1 {
  font-weight: 700;
  font-size: 4em;
  color: #00aff0;
}

.header>div h2 {
  font-weight: 700;
  font-size: 3.5em;
  color: #5aa4be;
}

.header>div p {
  line-height: 1.3em;
  width: 50%;
  font-size: 1em;
  font-weight: 500;
}

#home-content .myBtn .btn-outline-primary {
  border: 1px solid #00aff0;
  color: #00aff0;
  font-family: "Roboto Mono", sans-serif;
  font-size: 0.9em;
  padding: 20px;
}

#home-content .btn-outline-primary:hover {
  background-color: #4ab7df;
  color: #ffffff;
}

#home-content {
  height: 80vh;
}

/* About section */
#about .linediv {
  width: 85%;
  height: 1px;
  background-color: rgba(10, 98, 131, 0.4);
  margin-left: -175px;
  margin-top: 20px;
}

#about .col-lg-10 .span {
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 0.7em;
  color: #55a4be;
}

#about .col-lg-10 h5 {
  font-size: 1.4em;
  font-weight: bold;
  color: #00aff0;
}

#about .col-lg-5 .overlay-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 3%;
}

#about .col-lg-5 img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  display: block;
}

#about .col-lg-5 .overlay-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 30%;
  transition: .5s ease;
  background-color: #00aff0;
  border-radius: 3%;

}

#about .col-lg-5 .overlay-container .overlay:hover {
  opacity: 0;
}

#about .box {
  border: 3px solid rgba(0, 175, 240, 0.5);
  top: 0%;
  width: 300px;
  height: 300px;
  margin: 20px 0 0 20px;
  border-radius: 2%;
  z-index: -1;
  position: absolute;
}

#about .col-lg-5 .overlay-container:hover .box {
  margin: 15px 0 0 15px;
  transition: 0.3s ease;
}

#about .container-lg {
  width: 75%;
}

#about .container-lg .row .col-lg-10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

#about {
  margin: 150px 0;
  /* padding: 20px; */
}

#about .tools li {
  padding: 0;
  font-size: 0.6em;
  font-family: "Roboto Mono";
}

#about .row .col-lg-7 p {
  font-size: 0.9em;
  font-weight: 500;
}

#about .tools ul {
  list-style: none;
}

#about .tools i {
  color: #00aff0;
}

#about .tools .col-lg-6 {
  width: 40%;
}

/* Experience section */

#experience .nav-link {
  border: none;
  text-align: left;
  border-left: 5px solid #ccc;
  height: 50px;
  background: none;
  font-family: "Roboto Mono";
  font-size: 0.7em;
  scroll-behavior: smooth;
}

#experience .nav-link:focus {
  outline: none;
}

#experience .nav-link:hover {
  background-color: rgb(221, 220, 220);
}

#experience .nav-link.active {
  border: transparent;
  border-left: 5px solid #00aff0;
  color: #00aff0;
  transition: 0.5s ease-in;
  background-color: rgb(221, 220, 220);
}

#experience .container-lg .col-lg-10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#experience .container-lg .col-lg-10 span {
  color: #55a4be;
  font-family: "Roboto Mono";
  font-size: 0.7em;
}

#experience .container-lg .col-lg-10 h5 {
  font-size: 1.4em;
  font-weight: 700;
  color: #00aff0;
}

#experience .container-lg .col-lg-10 .linediv {
  height: 1px;
  background: rgba(10, 98, 131, 0.4);
  width: 300px;
  /* margin-right: 10px; */
  margin-top: 20px;
}

#experience .container .tab-header h5 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
}

#experience .container .tab-header p {
  font-family: "Roboto Mono";
  font-size: 0.7em;
}

#experience .container .tab-write {
  list-style: none;
  padding: 0;
}

#experience .container .tab-write li {
  font-size: 0.8em;
}

/* Workdone section stylings */
#hardest {
  padding: 150px;
}

#hardest span {
  font-family: "Roboto Mono";
  font-size: 0.8em;
  color: #55a4be;
}

#hardest h5 {
  font-size: 1.7rem;
  font-weight: 700;
  color: #00aff0;
}

#hardest .linediv {
  width: 300px;
  height: 1px;
  background-color: #55a4be;
}

#first-row .work-done .workdone-img .overlay {
  background: #00aff0;
  transition: 0.5s ease;
  opacity: 30%;
}

#first-row .work-done .workdone-img .overlay-container {
  height: 400px !important;
}

#first-row .work-done .workdone-img img {
  opacity: 100%;
}

#second-row .work-done .workdone-img img {
  opacity: 100%;
}

#first-row .work-done .workdone-img .overlay-container .overlay:hover {
  opacity: 0;
}

#second-row .work-done .workdone-img .overlay {
  background: #00aff0;
  transition: 0.5s ease;
  opacity: 30%;
}

#second-row .work-done .workdone-img .overlay-container {
  height: 400px !important;
}

#second-row .work-done .workdone-img .overlay-container .overlay:hover {
  opacity: 0;
}

#second-row .work-done .workdone-content {
  z-index: 99;
}

.work-done .workdone-content .p {
  font-family: "Roboto Mono";
  font-size: 0.7em;
  color: #5aa4be;
}

.work-done .workdone-content h3 {
  color: #00aff0;
}

.work-done .workdone-content ul {
  font-family: "Roboto Mono";
  font-size: 0.7em;
}

/* project section style*/
.project-header h3 {
  font-weight: 600;
  color: #00aff0;
}

.project-header p {
  color: #5aa4be;
  font-family: "Roboto Mono";
  font-size: 0.7em;
}

#projects>.container>.projects .col-lg-4,
.col-md-6 {
  padding: 8px;
}

#projects .container {
  padding: 60px;
}

.float-right {
  color: #55a4be;
  font-size: 1em;
  position: absolute;
  right: 3px;
  top: 10px;
}

.card-body .text-muted {
  font-family: "Roboto Mono";
  font-size: 0.8em;
}

.card-body .icons {
  display: flex;
  justify-content: space-between;
}

.card-body>.icons>span i:hover {
  color: #00aff0;
  transition: color 0.5s;
}

.card-body>.icons .fa-folder {
  font-size: 2rem;
  color: #00aff0;
}

.card-body h6 {
  color: #00aff0;
  font-weight: 600;
}

.card-body p {
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 10px;
}

#projects .show-button .btn-outline-primary {
  color: #00aff0;
  font-size: 1.2em;
  font-family: "Roboto Mono";
  padding: 20px 30px;
  border: 1px solid #55a4be;
}

#projects .show-button .btn-outline-primary:hover {
  background-color: #4ab7df;
  color: #ffffff;
}

/* Contact */
#contact {
  margin: 120px 30px;
}

#contact .in-touch .next {
  font-family: "Roboto Mono";
  font-size: 0.8em;
  color: #55a4be;
  margin-bottom: 0;
}

#contact .btn-outline-primary {
  font-size: 1em;
  color: #00aff0;
  border: 1px solid #4ab7df;
  font-family: "Roboto Mono";
}

#contact .btn-outline-primary:hover {
  color: #fff;
  background-color: #00aff0;
}

.in-touch h1 {
  font-weight: bold;
  font-size: 2.6em;
  color: #00aff0;
}

.in-touch .message {
  font-size: 0.9em;
  font-weight: 500;
}

/* footer sec */
#footer {
  padding: 20px;
}

#footer .text-center ul,
#footer .text-center p {
  font-family: "Roboto Mono";
  font-size: 0.7em;
  margin-bottom: 5px;
  cursor: pointer;
}

#footer .col-lg-3,
.col-md-3 {
  padding: 0;
}

#footer .col-lg-3:hover {
  color: #00aff0;
  transition: color 0.5s;
}

@media (min-width: 200px) and (max-width: 314px) {
  body {
    margin: 0;
    padding: 0;
  }

  #all-works {
    margin: auto;
    width: 100%;
  }

  #home-content {
    height: 80vh;
    margin-top: 100px;
    margin-left: 10px;
  }

  .side-icons ul {
    display: none;
  }

  .vetical-left-side {
    display: none;
  }

  .vetical-right-side {
    display: none;
  }

  .vetical-right-side a {
    display: none;
  }

  .line {
    display: none;
  }

  .header .hi {
    color: #063b4e;
    font-size: 0.7em;
  }

  .header>div h1 {
    margin-top: 8px;
    font-size: 1.2em;
  }

  .header>div h2 {

    font-size: 1em;

  }

  .header>div .mt-3 p {
    width: 100%;
    font-size: 0.8em;

  }

  #home-content .myBtn .btn-outline-primary {
    color: #00aff0;
    font-size: 0.8em;
    padding: 20px 30px;
  }

  #home-content .myBtn .btn-outline-primary:hover {
    background-color: #4ab7df;
    color: #fff;
  }

  /* About section */
  #about .linediv {
    margin-left: 0;
    margin-top: 17px;
  }

  #about .col-lg-10 .span {
    font-size: 0.7em;
  }

  #about .col-lg-10 h5 {
    font-size: 1em;
  }

  #about .col-lg-5 .overlay-container {
    width: 220px;
    height: 200px;
    border-radius: 3%;
    position: relative;
  }

  #about .col-lg-5 img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    display: block;
  }

  #about .col-lg-5 .overlay-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 30%;
    transition: .5s ease;
    background-color: #00aff0;
    border-radius: 3%;

  }

  #about .col-lg-5 .overlay-container .overlay:hover {
    opacity: 0;
  }

  #about .box {
    width: 220px;
    height: 200px;
  }

  #about .col-lg-5 .overlay-container:hover .box {
    margin: 15px 0 0 15px;
    transition: 0.3s ease;
  }

  #about .container-lg .ms-sm-auto {
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about .container-lg {
    margin: 0;
    width: 100%;
    display: block;
  }

  #about {
    margin: 20px 0;
    padding: 10px;
  }

  #about .tools li {
    padding: 0;
    font-size: 0.6em;
    font-family: "Roboto Mono";
  }

  #about .row .col-lg-8 p {
    font-size: 0.8em;
  }

  #about .row {
    padding: 0;
  }

  #about .tools ul {
    padding: 0;
    margin-bottom: 50px;
  }

  #about .tools .col-lg-6 {
    width: 45%;
  }

  /* Experience styling */
  #experience .container-lg .col-lg-10 span {
    font-size: 0.7em;
  }

  #experience .container-lg .col-lg-10 h5 {
    font-size: 1em;
    font-weight: 700;
    position: relative;
  }

  #experience .container-lg .col-lg-10 .linediv {
    width: 70px;
    margin-top: 15px;
    margin-left: 80px;
  }

  #experience .container .tab-holder {
    flex-direction: column !important;
  }

  #experience .container .tab-top {
    flex-direction: row !important;
  }

  #experience .nav-link {
    text-align: center;
    border-left: none !important;
  }

  #experience .nav-link.active {
    border-left: none !important;
    border-bottom: 5px solid #00aff0 !important;
  }

  /* Workdone section style  */
  #hardest {
    padding: 0;
  }

  #hardest {
    padding: 0;
  }

  #hardest span {
    font-size: 0.8em;
  }

  #hardest h5 {
    font-size: 1em;
  }

  #hardest .linediv {
    width: 60px;
    margin: 15px 0 0 0px;
  }

  #first-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #second-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #first-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-content {
    z-index: 99;
  }

  #first-row {
    padding-bottom: 100px !important;
  }

  #first-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #first-row .workdone-content {
    width: 80% !important;
    padding-right: 10px;
  }

  #first-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #first-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: right;
    line-height: 1em;
  }

  #second-row {
    padding-bottom: 100px !important;
    margin-top: 150px;
  }

  #second-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #second-row .workdone-content {
    width: 80% !important;
    padding-left: 10px;
  }

  #second-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #second-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: left;
    line-height: 1em;
  }

  /* Projects section styling*/
  #projects .projects {
    padding: 15px;
    margin-top: 30px;
  }

  .project-header h3 {
    font-size: 1.2em;
  }

  .project-header p {
    color: #5aa4be;
    font-family: "Roboto Mono";
    font-size: 0.6em;
  }

  #projects>.container>.projects .col-lg-4,
  .col-md-6 {
    padding: 8px;
  }

  #projects>.container>.projects .card:hover {
    /* margin-bottom: 5px;
    transition: margin-bottom 0.5s; */
  }

  #projects .container {
    padding: 10px;
  }

  #projects .show-button .btn-outline-primary {
    color: #00aff0;
    font-size: 0.8em;
    font-family: "Roboto Mono";
    padding: 20px 30px;
    border: 1px solid #55a4be;
  }

  #projects .show-button .btn-outline-primary:hover {
    background-color: #4ab7df;
    color: #ffffff;
  }

  .float-right {
    color: #55a4be;
    font-size: 1em;
    position: absolute;
    right: 3px;
    top: 10px;
  }

  /* Contact */
  #contact {
    margin: 10px;
  }

  #contact .in-touch .next {
    margin-bottom: 8px;
  }

  #contact .in-touch h1 {
    font-size: 1.6em;
  }

  #contact .in-touch .message {
    margin-top: 10px;
    font-size: 0.8em;
  }

  #contact .btn-outline-primary {
    font-size: 0.8em;
    color: #00aff0;
    border: 1px solid #4ab7df;
    font-family: "Roboto Mono";
  }

  #contact .btn-outline-primary:hover {
    color: #fff;
    background-color: #00aff0;
  }

  /* footer sec */
  #footer {
    padding: 20px;
  }

  #footer .row .icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  #footer .bottom-icons li {
    padding: 10px;
    font-size: 1.2em;
    margin: auto;
    text-align: center;
  }

  #footer .bottom-icons li:hover {
    color: #00aff0;
  }
}

@media (min-width: 315px) and (max-width: 480px) {
  body {
    margin: 0;
    padding: 0;
  }

  #home-content {
    height: 80vh;
    margin-top: 100px;
    margin-left: 10px;
  }

  .side-icons ul {
    display: none;
  }

  .vetical-left-side {
    display: none;
  }

  .vetical-right-side {
    display: none;
  }

  .vetical-right-side a {
    display: none;
  }

  .line {
    display: none;
  }

  .header .hi {
    color: #063b4e;
    font-size: 0.7em;
  }

  .header>div h1 {
    margin-top: 8px;
    font-size: 1.8em;
  }

  .header>div h2 {

    font-size: 1.6em;

  }

  .header>div .mt-3 p {
    width: 100%;
    font-size: 0.8em;

  }

  #home-content .myBtn .btn-outline-primary {
    color: #00aff0;
    font-size: 0.8em;
    padding: 20px 30px;
  }

  #home-content .myBtn .btn-outline-primary:hover {
    background-color: #4ab7df;
    color: #fff;
  }

  /* About section */
  #about .linediv {
    margin-left: 0;
    margin-top: 17px;
  }

  #about .col-lg-10 .span {
    font-size: 0.7em;
  }

  #about .col-lg-10 h5 {
    font-size: 1.2em;
  }

  #about .col-lg-5 .overlay-container {
    width: 220px;
    height: 220px;
    border-radius: 3%;
    position: relative;
  }

  #about .col-lg-5 img {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    display: block;
  }

  #about .col-lg-5 .overlay-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 30%;
    transition: .5s ease;
    background-color: #00aff0;
    border-radius: 3%;

  }

  #about .col-lg-5 .overlay-container .overlay:hover {
    opacity: 0;
  }

  #about .box {
    width: 220px;
    height: 220px;
  }

  #about .col-lg-5 .overlay-container:hover .box {
    margin: 15px 0 0 15px;
    transition: 0.3s ease;
  }

  #about .container-lg .ms-sm-auto {
    /* margin-left: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about .container-lg {
    margin: 0;
    width: 100%;
    display: block;
  }

  #about {
    margin: 20px 0;
    padding: 10px;
  }

  #about .tools li {
    padding: 0;
    font-size: 0.6em;
    font-family: "Roboto Mono";
  }

  #about .row .col-lg-8 p {
    font-size: 0.8em;
  }

  #about .row {
    padding: 0;
  }

  #about .tools ul {
    padding: 0;
    margin-bottom: 50px;
  }

  #about .tools .col-lg-6 {
    width: 45%;
  }

  /* Experience styling */
  #experience .container-lg .col-lg-10 span {
    font-size: 0.7em;
  }

  #experience .container-lg .col-lg-10 h5 {
    font-size: 1em;
    font-weight: 700;
    position: relative;
  }

  #experience .container-lg .col-lg-10 .linediv {
    width: 70px;
    margin-top: 15px;
    margin-left: 80px;
  }

  #experience .container .tab-holder {
    flex-direction: column !important;
  }

  #experience .container .tab-top {
    flex-direction: row !important;
  }

  #experience .nav-link {
    text-align: center;
    border-left: none !important;
  }

  #experience .nav-link.active {
    border-left: none !important;
    border-bottom: 5px solid #00aff0 !important;
  }

  /* Workdone section style  */
  #hardest {
    padding: 0;
  }

  #hardest span {
    font-size: 0.8em;
  }

  #hardest h5 {
    font-size: 1.2rem;
  }

  #hardest .linediv {
    width: 75px;
    margin: 15px 15px 0 0;
  }

  #first-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #second-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #first-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-content {
    z-index: 99;
  }

  #first-row {
    padding: 0 !important;
  }

  #first-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #first-row .workdone-content {
    width: 80% !important;
    padding-right: 10px;
  }

  #first-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #first-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: right;
    line-height: 1em;
  }

  #second-row {
    padding: 0 !important;
    margin-top: 150px;
  }

  #second-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #second-row .workdone-content {
    width: 80% !important;
    padding-left: 10px;
  }

  #second-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #second-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: left;
    line-height: 1em;
  }

  /* Projects section styling*/
  #projects {
    margin-top: 100px !important;
  }

  #projects .projects {
    padding: 15px;
    margin-top: 30px;
  }

  .project-header h3 {
    font-size: 1.2em;
  }

  .project-header p {
    color: #5aa4be;
    font-family: "Roboto Mono";
    font-size: 0.6em;
  }

  #projects>.container>.projects .col-lg-4,
  .col-md-6 {
    padding: 8px;
  }

  #projects>.container>.projects .card:hover {
    /* margin-bottom: 5px;
    transition: margin-bottom 0.5s; */
  }

  #projects .container {
    padding: 10px;
  }

  #projects .show-button .btn-outline-primary {
    color: #00aff0;
    font-size: 0.8em;
    font-family: "Roboto Mono";
    padding: 20px 30px;
    border: 1px solid #55a4be;
  }

  #projects .show-button .btn-outline-primary:hover {
    background-color: #4ab7df;
    color: #ffffff;
  }

  .float-right {
    color: #55a4be;
    font-size: 1em;
    position: absolute;
    right: 3px;
    top: 10px;
  }

  /* Contact */
  #contact {
    margin: 100px 10px;
  }

  #contact .in-touch .next {
    margin-bottom: 8px;
  }

  #contact .in-touch h1 {
    font-size: 1.6em;
  }

  #contact .in-touch .message {
    margin-top: 10px;
    font-size: 0.8em;
  }

  #contact .btn-outline-primary {
    font-size: 0.8em;
    color: #00aff0;
    border: 1px solid #4ab7df;
    font-family: "Roboto Mono";
  }

  #contact .btn-outline-primary:hover {
    color: #fff;
    background-color: #00aff0;
  }

  /* footer sec */
  #footer {
    padding: 20px;
  }

  #footer .row .icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  #footer .bottom-icons li {
    padding: 10px;
    font-size: 1.2em;
    margin: auto;
    text-align: center;
  }

  #footer .bottom-icons li:hover {
    color: #00aff0;
  }
}


@media (min-width: 481px) and (max-width: 720px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .vetical-left-side ul {
    display: none;
  }

  .side-icons li {
    display: none;
  }

  .vetical-left-side {
    display: none;
  }

  .vetical-right-side {
    display: none;
  }

  .vetical-right-side a {
    display: none;
  }

  .line {
    display: none;
  }


  #home-content .header>div h1 {
    font-size: 2em;
  }

  #home-content .header>div h2 {
    font-size: 2em;
  }

  #home-content .header>div p {
    width: 100%;
  }

  #home-content {
    margin: 80px 5px 0 30px;
    height: 60vh;
  }

  #home-content .myBtn .btn-outline-primary {
    font-size: 0.8em;
  }

  /* About section */
  #about .container-lg {
    width: 90%;
  }

  #about .linediv {
    width: 250px;
    margin-left: -50px;
  }

  #about .col-lg-10 h5 {
    font-size: 1.2em;
  }

  #about .tools ul {
    padding-right: 0;
  }

  #about .col-lg-5 .overlay-container {
    margin: auto;
    margin-top: 50px;
  }

  #about .col-lg-5 img {
    margin: auto;
    margin-top: 50px;
  }

  #about .tools .col-lg-6 {
    width: 30%;
  }

  /* Experience section */

  #experience .container-lg .col-lg-10 h5 {
    font-size: 1.2em;
  }

  #experience .container-lg .col-lg-10 .linediv {
    width: 150px !important;
    margin-left: 0px !important;
  }

  #experience .container-lg .col-lg-10 .linediv {
    width: 355px;
    margin-left: -20px;
    margin-top: 20px;
  }

  #experience .container-lg .mb-lg-4 {
    margin-bottom: 40px;
  }

  #experience .container .tab-holder {
    flex-direction: column !important;
  }

  #experience .container .tab-top {
    flex-direction: row !important;
  }

  #experience .nav-link {
    text-align: center;
    border-left: none !important;
  }

  #experience .nav-link.active {
    border-left: none !important;
    border-bottom: 5px solid #00aff0 !important;
  }

  /* Workdone section stylings */



  /* Workdone section stylings */
  #hardest {
    padding: 0;
  }

  #hardest span {
    font-size: 0.8em;
  }

  #hardest h5 {
    font-size: 1.2rem;
  }

  #hardest .linediv {
    width: 160px;
    margin: 15px 0 0 20px;
  }

  #first-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #second-row .work-done .workdone-img .overlay-container {
    width: 100% !important;
    height: 250px !important;
  }

  #first-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-img .overlay {
    display: none;
  }

  #second-row .work-done .workdone-content {
    z-index: 99;
  }

  #first-row {
    padding: 0 !important;
  }

  #first-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #first-row .workdone-content {
    width: 80% !important;
    padding-right: 10px;
  }

  #first-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #first-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: right;
    line-height: 1em;
  }

  #second-row {
    padding: 0 !important;
    margin-top: 150px;
  }

  #second-row .work-done .workdone-img img {
    width: 100% !important;
    opacity: 15%;
  }

  #second-row .workdone-content {
    width: 80% !important;
    padding-left: 10px;
  }

  #second-row .workdone-content .bg-light {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  #second-row .workdone-content .bg-light p {
    padding: 0 !important;
    text-align: left;
    line-height: 1em;
  }

  /* Projects done styling */

  #projects .container {
    padding: 40px 40px 0;
  }

  .card-body .text-muted {
    font-family: "Roboto Mono";
    font-size: 0.8em;
  }

  .card-body .icons {
    display: flex;
    justify-content: space-between;
  }

  /* Contact */
  #contact {
    margin: 150px 10px 100px;
    padding: 0 50px;
  }

  #contact .btn-outline-primary {
    font-size: 0.8em;
  }

  .in-touch h1 {
    font-size: 1.7em;
  }

  .in-touch .message {
    font-size: 0.9em;
    font-weight: 500;
  }

  /* footer sec */
  #footer {
    padding: 20px;
  }

  #footer .row .icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  #footer .row .icons li {
    padding: 4px 15px;
  }

  #footer .row .icons li:hover {
    color: #00aff0;
  }

  #footer .row .icons .bottom-icons {
    display: block;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-container {
    padding: 15px;
  }

  .vetical-left-side ul {
    display: none;
  }

  .side-icons li {
    display: none;
  }

  .vetical-left-side {
    display: none;
  }

  .vetical-right-side {
    display: none;
  }

  .vetical-right-side a {
    display: none;
  }

  .line {
    display: none;
  }


  .header>div h1 {
    font-size: 2.5em;
  }

  .header>div h2 {
    font-size: 2.7em;
  }

  .header>div p {
    width: 70%;
  }

  #home-content {
    margin: 200px 5px 0 30px;
    height: 60vh;
  }

  #home-content .myBtn .btn-outline-primary {
    font-size: 0.8em;
  }

  /* About section */
  #about .container-lg {
    width: 90%;
  }

  #about .linediv {
    width: 450px;
    margin-left: -120px;
  }

  #about .col-lg-10 h5 {
    font-size: 1.6em;
  }

  #about .tools ul {
    padding-right: 0;
  }

  #about .col-lg-5 .overlay-container {
    margin: auto;
    margin-top: 50px;
  }

  #about .col-lg-5 img {
    margin: auto;
    margin-top: 50px;
  }

  #about .tools .col-lg-6 {
    width: 30%;
  }

  /* Experience section */

  #experience .container-lg .col-lg-10 .linediv {
    height: 1px;
    background: rgba(10, 98, 131, 0.4);
    width: 355px;
    margin-left: -20px;
    margin-top: 20px;
  }

  #experience .container-lg .mb-lg-4 {
    margin-bottom: 40px;
  }

  /* Workdone section stylings */
  #hardest {
    padding: 20px;
  }

  #first-row .work-done .workdone-img .overlay-container {
    height: 250px !important;
  }

  #second-row .work-done .workdone-img .overlay-container {
    height: 250px !important;
  }

  #first-row .work-done .workdone-content {
    width: 50% !important;
  }

  #second-row .work-done .workdone-content {
    z-index: 99;
  }

  #first-row {
    padding: 0 !important;
  }

  #first-row .workdone-content .bg-light p {
    text-align: right;
    line-height: 1em;
  }

  #second-row {
    padding: 0 !important;
    margin-top: 150px !important;
  }

  #second-row .workdone-content .bg-light p {
    text-align: left;
    line-height: 1em;
  }


  /* Projects done styling */

  #projects .container {
    padding: 40px 40px 0;
  }

  .card-body .text-muted {
    font-family: "Roboto Mono";
    font-size: 0.8em;
  }

  .card-body .icons {
    display: flex;
    justify-content: space-between;
  }

  /* Contact */
  #contact {
    margin: 150px 10px 100px;
    padding: 0 50px;
  }

  #contact .btn-outline-primary {
    font-size: 0.8em;
  }

  .in-touch h1 {
    font-size: 1.7em;
  }

  .in-touch .message {
    font-size: 0.9em;
    font-weight: 500;
  }

  /* footer sec */
  #footer {
    padding: 20px;
  }

  #footer .row .icons ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  #footer .row .icons li {
    padding: 4px 15px;
  }

  #footer .row .icons li:hover {
    color: #00aff0;
  }

  #footer .row .icons .bottom-icons {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {

  #home-content {
    height: 65vh;
    margin: 300px 30px 0 70px;
  }

  #home-content .header {
    margin-bottom: 0 !important;
  }

  #home-content .header .col-lg-10 {
    padding-right: 0 !important;
    padding-left: 1.5em !important;
  }

  #home-content .header .m-lg-auto {
    margin: 0 !important;
  }

  #home-content .header>div h2 {
    font-size: 3em;
  }

  #home-content .header>div p {
    width: 70%;
  }


  /* About section */


  #about .col-lg-10 .span {
    font-family: "Roboto Mono";
    font-weight: 700;
    font-size: 0.7em;
    color: #55a4be;
  }

  #about .col-lg-10 h5 {
    font-size: 1.4em;
    font-weight: bold;
    color: #00aff0;
  }

  #about .container-lg {
    width: 100%;
    padding-right: 1.5em !important;
    margin-left: 2em !important;
    /* max-width: 915px !important; */
  }

  #about {
    margin: 80px 0 0 0;
    /* padding: 20px; */
  }

  /* Experience section */

  #experience .container {
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Workdone section stylings */
  #hardest {
    padding: 80px;
  }

  #first-row .work-done .workdone-img .overlay-container {
    height: 300px !important;
  }

  #second-row .work-done .workdone-img .overlay-container {
    height: 300px !important;
  }

  #second-row {
    margin-top: 100px !important;
  }

  #second-row .work-done .workdone-img img {
    height: 300px !important;
  }

  #first-row .work-done .workdone-img img {
    height: 300px !important;
  }


  /* footer sec */

  #footer .col-lg-3,
  .col-md-3 {
    padding: 0;
    width: 50% !important;
  }
}